---
export interface Props {
  title: string,
  tech: number,
  writer: string,
  contributors: string,
}

let {title, tech, writer, contributors} = Astro.props;

const size = "30px";
---
<style lang="scss">

  ::root {
    --padding: 24px;
  }
  main {
    background-color: white;
    padding: 24px;
    box-shadow: 0px 13px 72px rgba(58, 73, 87, 0.06), 
                0px 5.13735px 15.5494px rgba(58, 73, 87, 0.0357664), 
                0px 1.52952px 6.11809px rgba(58, 73, 87, 0.0242336);
    border-radius: 10px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: calc(100% - 2* 24px);
      height: 10px;
      background: var(--secondary-color);
      transform: translateY(24px);
      border-radius: 0 0 10px 10px;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 16px;
    color: var(--primary-color);
  }

  div.tech {
    display: flex;
    align-items: center;
    margin-right: 18px;
    margin-bottom: 8px;
    div {
      display: flex;
      align-items: center;
      margin-right: 14px;
      img {
        margin-right: 10px;
      }
    }
  } 

  div.credits {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
  }

  div.contributors, div.writer{
    display: flex;
    align-items: center;
    margin-right: 18px;
    img {
      margin-right: 10px;
      border: 2px dashed var(--secondary-color);
      border-radius: 50%;
    }
    div {
      display: flex;
      align-items: center;
    }
  }
</style>

<main>
  <h3> {title} </h3>

  <div class="tech"> 
    {tech.map(item => (
      <div>
        <img src={item.img} alt={item.name} />
        <div><code>{item.name}</code></div>
      </div>
    ))}
  </div>

  <div class="credits">

    <div class="writer">
      <a href={"https://github.com/" + writer.github } target="_blank">
        <img 
          src={writer.img} 
          alt={writer.github} 
          width={size} 
          height={size} 
          title={writer.github}
        />
      </a>
      <div><code>Writer</code></div>
    </div>

    <div class="contributors"> 
      {contributors.map(contributor => (
        <div>
        <a href={"https://github.com/" + contributor.github } target="_blank">
          <img src={contributor.img} 
            alt={contributor.github} 
            width={size} 
            height={size} 
            title={contributor.github}
          />
        </a>
        </div>
      ))}
      <div> <code>Contributors</code> </div>
    </div>

  </div>
</main>

